
:root {
  --color-background: #fff;
  --color-main: #9055A2;
  --color-footer: #E8C1C5;
  --color-text: #000;
  --color-text-white: #fff;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: radial-gradient(circle, rgba(255,255,255,1) 12%, rgba(144,85,162,1) 100%);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

