@import './base.css';
@import './inputs.css';

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  max-height: -webkit-fill-available;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--color-background);
}

.header{
  display: flex;
  flex-shrink: 0;
  
  .header__logo{
    width: 200px;
    max-width: 50vw;
    height: fit-content;
    flex-shrink: 0;
  }
  .header__data{
    width: 100%;
    align-self: flex-end;
  }
}

.main{
  height: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .main__result{
    font-weight: 600;
    font-size: 28vw;
    @media screen and (min-width: 600px) {
      font-size: 168px;
    }
  }
  .main__subtext{
    font-weight: 500;
    font-size: 5vw;
    @media screen and (min-width: 600px) {
      font-size: 30px;
    }
  }
}

.footer{
  flex-shrink: 0;
  margin-top: auto;
  padding: 0.5rem;
  background-color: var(--color-footer);
  .footer__text{
    text-align: center;
    font-weight: 500;
  }
}